[Unit]
Description=Telegram bot MQTT interface
Requires=network.target
After=network.target
After=syslog.target

[Service]
Type=simple
Restart=always
RestartSec=3
User=thomas
WorkingDirectory=/home/thomas/bin/lights-telegram
ExecStart=/home/thomas/bin/lights-telegram/lights-telegram

[Install]
WantedBy=multi-user.target
